<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <ul class="menu">
     <li class="active"><a href="/about">About</a></li>
     <li class=""><a href="/pokeman">Pokemans</a></li>
     <li class=""><a href="/moves">Moves</a></li>
     <li class=""><a href="/items">Items</a></li>
</ul>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://versions.bulma.io/0.7.0">About</a>
    <a class="navbar-item" href="https://versions.bulma.io/0.7.0">Pokemans</a>
    <a class="navbar-item" href="https://versions.bulma.io/0.7.0">Moves</a>
    <a class="navbar-item" href="https://versions.bulma.io/0.7.0">Items</a>

<body>
  <section class="section">
    <div class="content">
      <%= yield %>
    </div>
  </section>
</body>
</html>
