<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <ul class="menu">
     <li class="active"><a href="/about">About</a></li>
     <li class=""><a href="/pokeman">Pokemans</a></li>
     <li class=""><a href="/moves">Moves</a></li>
     <li class=""><a href="/items">Items</a></li>
</ul>

  <body>
    <%= yield %>
  </body>
</html>
